<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

# **Collecting Job Data Using APIs**

Estimated time needed: **45 to 60** minutes

## Objectives

After completing this lab, you will be able to:

*   Collect job data from GitHub Jobs API
*   Store the collected data into an excel spreadsheet.

><strong>Note: Before starting with the assignment make sure to read all the instructions and then move ahead with the coding part.</strong>

#### Instructions

To run the actual lab, firstly you need to click on the [Jobs_API](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/Jobs_API.ipynb) notebook link. The file contains flask code which is required to run the Jobs API data.

Now, to run the code in the file that opens up follow the below steps.

Step1: Download the file. 

Step2: Upload it on the IBM Watson studio. (If IBM Watson Cloud service does not work in your system, follow the alternate Step 2 below)

Step2(alternate): Upload it in your SN labs environment using the upload button which is highlighted in red in the image below:
Remember to upload this Jobs_API file in the same folder as your current .ipynb file

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/Upload.PNG">

Step3:  Run all the cells of the Jobs_API file. (Even if you receive an asterik sign after running the last cell, the code works fine.)

If you want to learn more about flask, which is optional, you can click on this link [here](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/FLASK_API.md.html).

Once you run the flask code, you can start with your assignment.

## Dataset Used in this Assignment

The dataset used in this lab comes from the following source: https://www.kaggle.com/promptcloud/jobs-on-naukricom under the under a **Public Domain license**.

> Note: We are using a modified subset of that dataset for the lab, so to follow the lab instructions successfully please use the dataset provided with the lab, rather than the dataset from the original source.

The original dataset is a csv. We have converted the csv to json as per the requirement of the lab.

## Warm-Up Exercise

Before you attempt the actual lab, here is a fully solved warmup exercise that will help you to learn how to access an API.

Using an API, let us find out who currently are on the International Space Station (ISS).<br> The API at [http://api.open-notify.org/astros.json](http://api.open-notify.org/astros.json?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ) gives us the information of astronauts currently on ISS in json format.<br>
You can read more about this API at [http://open-notify.org/Open-Notify-API/People-In-Space/](http://open-notify.org/Open-Notify-API/People-In-Space?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

In [65]:
import requests # you need this module to make an API call
import pandas as pd

In [66]:
api_url = "http://api.open-notify.org/astros.json" # this url gives use the astronaut data

In [67]:
response = requests.get(api_url) # Call the API using the get method and store the
                                # output of the API call in a variable called response.

In [68]:
if response.ok:             # if all is well() no errors, no network timeouts)
    data = response.json()  # store the result in json format in a variable called data
                            # the variable data is of type dictionary.

In [69]:
print(data)   # print the data just to check the output or for debugging

{'people': [{'craft': 'ISS', 'name': 'Oleg Kononenko'}, {'craft': 'ISS', 'name': 'Nikolai Chub'}, {'craft': 'ISS', 'name': 'Tracy Caldwell Dyson'}, {'craft': 'ISS', 'name': 'Matthew Dominick'}, {'craft': 'ISS', 'name': 'Michael Barratt'}, {'craft': 'ISS', 'name': 'Jeanette Epps'}, {'craft': 'ISS', 'name': 'Alexander Grebenkin'}, {'craft': 'ISS', 'name': 'Butch Wilmore'}, {'craft': 'ISS', 'name': 'Sunita Williams'}, {'craft': 'Tiangong', 'name': 'Li Guangsu'}, {'craft': 'Tiangong', 'name': 'Li Cong'}, {'craft': 'Tiangong', 'name': 'Ye Guangfu'}], 'number': 12, 'message': 'success'}

Print the number of astronauts currently on ISS.

In [70]:
print(data.get('number'))

12

Print the names of the astronauts currently on ISS.

In [71]:
astronauts = data.get('people')
print("There are {} astronauts on ISS".format(len(astronauts)))
print("And their names are :")
for astronaut in astronauts:
    print(astronaut.get('name'))

There are 12 astronauts on ISS
And their names are :
Oleg Kononenko
Nikolai Chub
Tracy Caldwell Dyson
Matthew Dominick
Michael Barratt
Jeanette Epps
Alexander Grebenkin
Butch Wilmore
Sunita Williams
Li Guangsu
Li Cong
Ye Guangfu

Hope the warmup was helpful. Good luck with your next lab!

## Lab: Collect Jobs Data using GitHub Jobs API

### Objective: Determine the number of jobs currently open for various technologies  and for various locations

Collect the number of job postings for the following locations using the API:

* Los Angeles
* New York
* San Francisco
* Washington DC
* Seattle
* Austin
* Detroit

In [72]:
#Import required libraries
import pandas as pd
import json

In [73]:
baseurl = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/datasets/githubposting.json"

In [74]:
 response=requests.get(baseurl)

In [75]:
if response.ok:
    data = response.json()
data

{'technology': {'0': 'java',
  '1': 'C',
  '2': 'C#',
  '3': 'C++',
  '4': 'Java',
  '5': 'JavaScript',
  '6': 'Python',
  '7': 'Scala',
  '8': 'Oracle',
  '9': 'SQL Server',
  '10': 'MySQL Server',
  '11': 'PostgreSQL',
  '12': 'MongoDB',
  '13': 'java',
  '14': 'C',
  '15': 'C#',
  '16': 'C++',
  '17': 'Java',
  '18': 'JavaScript',
  '19': 'Python',
  '20': 'Scala',
  '21': 'Oracle',
  '22': 'SQL Server',
  '23': 'MySQL Server',
  '24': 'PostgreSQL',
  '25': 'MongoDB',
  '26': 'C',
  '27': 'MySQL Server',
  '28': 'SQL Server',
  '29': 'PostgreSQL',
  '30': 'Java',
  '31': 'PostgreSQL',
  '32': 'Java',
  '33': 'C',
  '34': 'MongoDB',
  '35': 'Oracle',
  '36': 'PostgreSQL',
  '37': 'MongoDB',
  '38': 'MySQL Server',
  '39': 'Java',
  '40': 'JavaScript',
  '41': 'Python',
  '42': 'C',
  '43': 'MongoDB',
  '44': 'MySQL Server',
  '45': 'PostgreSQL',
  '46': 'Oracle',
  '47': 'Java',
  '48': 'JavaScript',
  '49': 'Java',
  '50': 'Java',
  '51': 'MySQL Server',
  '52': 'C++',
  '53': 'JavaScript',
  '54': 'MySQL Server',
  '55': 'PostgreSQL',
  '56': 'PostgreSQL',
  '57': 'Java',
  '58': 'Java',
  '59': 'C#',
  '60': 'Python',
  '61': 'SQL Server',
  '62': 'MySQL Server',
  '63': 'Java',
  '64': 'MySQL Server',
  '65': 'PostgreSQL',
  '66': 'Java',
  '67': 'C#',
  '68': 'PostgreSQL',
  '69': 'Oracle',
  '70': 'C#',
  '71': 'C#',
  '72': 'PostgreSQL',
  '73': 'Java',
  '74': 'JavaScript',
  '75': 'Java',
  '76': 'Oracle',
  '77': 'MySQL Server',
  '78': 'MySQL Server',
  '79': 'MySQL Server',
  '80': 'Java',
  '81': 'Java',
  '82': 'Oracle',
  '83': 'JavaScript',
  '84': 'PostgreSQL',
  '85': 'MongoDB',
  '86': 'Java',
  '87': 'MongoDB',
  '88': 'JavaScript',
  '89': 'C++',
  '90': 'Oracle',
  '91': 'MongoDB',
  '92': 'SQL Server',
  '93': 'C++',
  '94': 'Oracle',
  '95': 'JavaScript',
  '96': 'Java',
  '97': 'java',
  '98': 'MongoDB',
  '99': 'C#',
  '100': 'MySQL Server',
  '101': 'PostgreSQL',
  '102': 'MongoDB',
  '103': 'java',
  '104': 'Python',
  '105': 'Java',
  '106': 'MongoDB',
  '107': 'MongoDB',
  '108': 'C++',
  '109': 'MySQL Server',
  '110': 'Java',
  '111': 'PostgreSQL',
  '112': 'Python',
  '113': 'java',
  '114': 'SQL Server',
  '115': 'Java',
  '116': 'Python',
  '117': 'JavaScript',
  '118': 'PostgreSQL',
  '119': 'PostgreSQL',
  '120': 'C++',
  '121': 'MySQL Server',
  '122': 'MongoDB',
  '123': 'C#',
  '124': 'PostgreSQL',
  '125': 'PostgreSQL',
  '126': 'C++',
  '127': 'Oracle',
  '128': 'Python',
  '129': 'JavaScript',
  '130': 'MongoDB',
  '131': 'PostgreSQL',
  '132': 'MySQL Server',
  '133': 'C#',
  '134': 'MySQL Server',
  '135': 'PostgreSQL',
  '136': 'PostgreSQL',
  '137': 'MySQL Server',
  '138': 'Scala',
  '139': 'C++',
  '140': 'MongoDB',
  '141': 'C++',
  '142': 'MongoDB',
  '143': 'Java',
  '144': 'Java',
  '145': 'java',
  '146': 'SQL Server',
  '147': 'Python',
  '148': 'java',
  '149': 'SQL Server',
  '150': 'JavaScript',
  '151': 'JavaScript',
  '152': 'C#',
  '153': 'JavaScript',
  '154': 'Java',
  '155': 'PostgreSQL',
  '156': 'PostgreSQL',
  '157': 'Java',
  '158': 'C++',
  '159': 'JavaScript',
  '160': 'Java',
  '161': 'Oracle',
  '162': 'Python',
  '163': 'Oracle',
  '164': 'java',
  '165': 'C#',
  '166': 'Java',
  '167': 'PostgreSQL',
  '168': 'PostgreSQL',
  '169': 'Python',
  '170': 'Java',
  '171': 'MySQL Server',
  '172': 'C#',
  '173': 'Python',
  '174': 'Python',
  '175': 'SQL Server',
  '176': 'MongoDB',
  '177': 'Java',
  '178': 'C#',
  '179': 'MongoDB',
  '180': 'Oracle',
  '181': 'Python',
  '182': 'Scala',
  '183': 'PostgreSQL',
  '184': 'Scala',
  '185': 'C#',
  '186': 'Java',
  '187': 'Java',
  '188': 'C++',
  '189': 'Python',
  '190': 'MongoDB',
  '191': 'Java',
  '192': 'MongoDB',
  '193': 'C++',
  '194': 'PostgreSQL',
  '195': 'Java',
  '196': 'C#',
  '197': 'MySQL Server',
  '198': 'Oracle',
  '199': 'Java',
  '200': 'Java',
  '201': 'MongoDB',
  '202': 'Python',
  '203': 'SQL Server',
  '204': 'C',
  '205': 'Oracle',
  '206': 'Python',
  '207': 'Python',
  '208': 'MongoDB',
  '209': 'Scala',
  '210': 'PostgreSQL',
  '211': 'Oracle',
  '212': 'Java',
  '213': 'MongoDB',
  '214': 'C',
  '215': 'MongoDB',
  '216': 'Oracle',
  '217': 'Python',
  '218': 'Java',
  '219': 'MySQL Server',
  '220': 'JavaScript',
  '221': 'PostgreSQL',
  '222': 'Oracle',
  '223': 'Python',
  '224': 'Python',
  '225': 'JavaScript',
  '226': 'MongoDB',
  '227': 'Java',
  '228': 'MySQL Server',
  '229': 'JavaScript',
  '230': 'Java',
  '231': 'Oracle',
  '232': 'JavaScript',
  '233': 'PostgreSQL',
  '234': 'MySQL Server',
  '235': 'MySQL Server',
  '236': 'Oracle',
  '237': 'Scala',
  '238': 'Java',
  '239': 'C#',
  '240': 'Oracle',
  '241': 'Oracle',
  '242': 'java',
  '243': 'PostgreSQL',
  '244': 'MongoDB',
  '245': 'PostgreSQL',
  '246': 'MongoDB',
  '247': 'Scala',
  '248': 'MySQL Server',
  '249': 'Oracle',
  '250': 'Java',
  '251': 'C#',
  '252': 'PostgreSQL',
  '253': 'MongoDB',
  '254': 'Scala',
  '255': 'JavaScript'},
 'number of job posting': {'0': '1',
  '1': '10',
  '2': '1',
  '3': '1',
  '4': '2',
  '5': '4',
  '6': '1',
  '7': '5',
  '8': '0',
  '9': '1',
  '10': '0',
  '11': '1',
  '12': '0',
  '13': '1',
  '14': '20',
  '15': '2',
  '16': '3',
  '17': '2',
  '18': '3',
  '19': '2',
  '20': '7',
  '21': '0',
  '22': '1',
  '23': '0',
  '24': '1',
  '25': '0',
  '26': '26',
  '27': '0',
  '28': '1',
  '29': '0',
  '30': '2',
  '31': '0',
  '32': '2',
  '33': '15',
  '34': '0',
  '35': '1',
  '36': '0',
  '37': '1',
  '38': '0',
  '39': '1',
  '40': '2',
  '41': '5',
  '42': '40',
  '43': '1',
  '44': '0',
  '45': '0',
  '46': '1',
  '47': '6',
  '48': '4',
  '49': '8',
  '50': '1',
  '51': '0',
  '52': '2',
  '53': '4',
  '54': '0',
  '55': '1',
  '56': '1',
  '57': '2',
  '58': '3',
  '59': '1',
  '60': '2',
  '61': '2',
  '62': '1',
  '63': '1',
  '64': '1',
  '65': '0',
  '66': '1',
  '67': '0',
  '68': '0',
  '69': '1',
  '70': '1',
  '71': '0',
  '72': '0',
  '73': '2',
  '74': '2',
  '75': '1',
  '76': '0',
  '77': '1',
  '78': '0',
  '79': '0',
  '80': '2',
  '81': '3',
  '82': '0',
  '83': '5',
  '84': '0',
  '85': '2',
  '86': '2',
  '87': '2',
  '88': '3',
  '89': '2',
  '90': '0',
  '91': '1',
  '92': '1',
  '93': '2',
  '94': '0',
  '95': '2',
  '96': '2',
  '97': '1',
  '98': '1',
  '99': '0',
  '100': '0',
  '101': '0',
  '102': '1',
  '103': '2',
  '104': '7',
  '105': '1',
  '106': '1',
  '107': '0',
  '108': '2',
  '109': '1',
  '110': '2',
  '111': '0',
  '112': '2',
  '113': '1',
  '114': '2',
  '115': '2',
  '116': '2',
  '117': '3',
  '118': '0',
  '119': '1',
  '120': '2',
  '121': '0',
  '122': '1',
  '123': '1',
  '124': '1',
  '125': '1',
  '126': '2',
  '127': '0',
  '128': '1',
  '129': '3',
  '130': '0',
  '131': '0',
  '132': '0',
  '133': '1',
  '134': '1',
  '135': '0',
  '136': '0',
  '137': '0',
  '138': '5',
  '139': '1',
  '140': '0',
  '141': '2',
  '142': '0',
  '143': '1',
  '144': '2',
  '145': '1',
  '146': '4',
  '147': '1',
  '148': '1',
  '149': '2',
  '150': '5',
  '151': '2',
  '152': '1',
  '153': '3',
  '154': '1',
  '155': '1',
  '156': '1',
  '157': '2',
  '158': '1',
  '159': '3',
  '160': '3',
  '161': '0',
  '162': '2',
  '163': '0',
  '164': '0',
  '165': '1',
  '166': '1',
  '167': '1',
  '168': '0',
  '169': '3',
  '170': '2',
  '171': '0',
  '172': '1',
  '173': '3',
  '174': '1',
  '175': '1',
  '176': '1',
  '177': '2',
  '178': '1',
  '179': '1',
  '180': '1',
  '181': '3',
  '182': '6',
  '183': '0',
  '184': '4',
  '185': '0',
  '186': '1',
  '187': '2',
  '188': '2',
  '189': '2',
  '190': '1',
  '191': '1',
  '192': '0',
  '193': '2',
  '194': '1',
  '195': '1',
  '196': '1',
  '197': '0',
  '198': '1',
  '199': '1',
  '200': '1',
  '201': '0',
  '202': '2',
  '203': '1',
  '204': '20',
  '205': '0',
  '206': '1',
  '207': '4',
  '208': '0',
  '209': '7',
  '210': '1',
  '211': '0',
  '212': '1',
  '213': '0',
  '214': '53',
  '215': '0',
  '216': '0',
  '217': '3',
  '218': '6',
  '219': '0',
  '220': '6',
  '221': '1',
  '222': '0',
  '223': '2',
  '224': '2',
  '225': '5',
  '226': '1',
  '227': '3',
  '228': '1',
  '229': '1',
  '230': '1',
  '231': '1',
  '232': '2',
  '233': '1',
  '234': '0',
  '235': '0',
  '236': '1',
  '237': '3',
  '238': '2',
  '239': '1',
  '240': '1',
  '241': '0',
  '242': '1',
  '243': '1',
  '244': '1',
  '245': '1',
  '246': '1',
  '247': '8',
  '248': '1',
  '249': '0',
  '250': '1',
  '251': '1',
  '252': '1',
  '253': '1',
  '254': '2',
  '255': '3'}}

#### Write a function to get the number of jobs for the Python technology.<br>
> Note: While using the lab you need to pass the **payload** information for the **params** attribute in the form of **key** **value** pairs.
  Refer the ungraded **rest api lab** in the course **Python for Data Science, AI & Development**  <a href="https://www.coursera.org/learn/python-for-applied-data-science-ai/ungradedLti/P6sW8/hands-on-lab-access-rest-apis-request-http?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01">link</a>
  
 ##### The keys in the json are 
 * Job Title
 
 * Job Experience Required
 
 * Key Skills
 
 * Role Category
 
 * Location
 
 * Functional Area
 
 * Industry
 
 * Role 
 
You can also view  the json file contents  from the following <a href = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/jobs.json">json</a> URL.

In [76]:
api_url="http://127.0.0.1:5000/data/all"
def get_number_of_jobs_T(technology):
    
    response_api = requests.get(api_url)

    number_of_jobs = 0

    if response_api.ok:            
        jobs = response_api.json()

    for job in jobs:
        key = job.get('Key Skills')

        if key.find(technology) > -1 :
            number_of_jobs = number_of_jobs + 1

    number_of_jobs
    
    return technology,number_of_jobs

In [77]:
def get_number_of_jobs(technology):
    number_of_jobs = 0
    payload={"description":technology,"page":1}
    r=requests.get(baseurl,params=payload)
    if r.ok:             # if all is well() no errors, no network timeouts)
        data = r.json()
        while len(data) == 50:
            payload['page'] = payload['page'] + 1
            r=requests.get(baseurl,params=payload)
            if response.ok:
                data = r.json()
                number_of_jobs += len(data)
        else:
            number_of_jobs += len(data)  
            
    return technology,number_of_jobs

Calling the function for Python and checking if it works.

In [78]:
get_number_of_jobs("Python")

('Python', 2)

#### Write a function to find number of jobs in US for a location of your choice

In [79]:
def get_number_of_jobs_L(location):
    
    response_api = requests.get(api_url)

    number_of_jobs = 0

    if response_api.ok:            
        jobs = response_api.json()

    for job in jobs:
        loc = job.get('Location')

        if loc.find(location) > -1 :
            number_of_jobs = number_of_jobs + 1

    number_of_jobs
    return location,number_of_jobs

Call the function for Los Angeles and check if it is working.

### Store the results in an excel file

Call the API for all the given technologies above and write the results in an excel spreadsheet.

If you do not know how create excel file using python, double click here for **hints**.

<!--

from openpyxl import Workbook        # import Workbook class from module openpyxl
wb=Workbook()                        # create a workbook object
ws=wb.active                         # use the active worksheet
ws.append(['Country','Continent'])   # add a row with two columns 'Country' and 'Continent'
ws.append(['Eygpt','Africa'])        # add a row with two columns 'Egypt' and 'Africa'
ws.append(['India','Asia'])          # add another row
ws.append(['France','Europe'])       # add another row
wb.save("countries.xlsx")            # save the workbook into a file called countries.xlsx


-->

Create a python list of all technologies for which you need to find the number of jobs postings.

In [44]:
tech_list=['C','C#','C++','Java','JavaScript','Python','Scala','Oracle','SQL Server','MySQL Server','PostgreSQL','MongoDB']
tech_list

['C',
 'C#',
 'C++',
 'Java',
 'JavaScript',
 'Python',
 'Scala',
 'Oracle',
 'SQL Server',
 'MySQL Server',
 'PostgreSQL',
 'MongoDB']

In [52]:
locations = ['Los Angeles','New York','San Francisco','Washington DC','Seattle','Austin','Detroit']

Import libraries required to create excel spreadsheet

In [45]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.3-py2.py3-none-any.whl (251 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 251.3/251.3 kB 28.2 MB/s eta 0:00:00
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.3

Create a workbook and select the active worksheet

In [46]:
from openpyxl import Workbook

Find the number of jobs postings for each of the technology in the above list.
Write the technology name and the number of jobs postings into the excel spreadsheet.

In [47]:
wb=Workbook()                       
ws=wb.active

Save into an excel spreadsheet named 'github-job-postings.xlsx'.

In [48]:
ws.append(['Technology','Number_of_Jobs'])

for i in tech_list:
    ws.append(get_number_of_jobs(i))

In [54]:
wb.save("github-Location_job-postings.xlsx")

In [49]:
wb.save("github-job-postings.xlsx")

In [50]:
job_data = pd.read_excel("github-job-postings.xlsx")
job_data

      Technology  Number_of_Jobs
0              C               2
1             C#               2
2            C++               2
3           Java               2
4     JavaScript               2
5         Python               2
6          Scala               2
7         Oracle               2
8     SQL Server               2
9   MySQL Server               2
10    PostgreSQL               2
11       MongoDB               2

#### In the similar way, you can try for below given technologies and results  can be stored in an excel sheet.

Collect the number of job postings for the following languages using the API:

*   C
*   C#
*   C++
*   Java
*   JavaScript
*   Python
*   Scala
*   Oracle
*   SQL Server
*   MySQL Server
*   PostgreSQL
*   MongoDB

In [81]:
# your code goes here
wb2 = Workbook()
ws2 = wb2.active

languages = ['C','C#','C++','Java','JavaScript','Python','Scala','Oracle','SQL Server','MySQL Server','PostgreSQL','MongoDB']

ws2.append(['Languages','Number of Jobs'])

for i in range(len(languages)):
    ws2.append(get_number_of_jobs_T(languages[i]))

wb2.save('2.a-job-postings-languages (Collected from API).xlsx')
wb2.close()

ConnectionError: HTTPConnectionPool(host='127.0.0.1', port=5000): Max retries exceeded with url: /data/all (Caused by NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7f38be3474d0>: Failed to establish a new connection: [Errno 111] Connection refused'))

## Authors

Ayushi Jain

### Other Contributors

Rav Ahuja

Lakshmi Holla

Malika

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer\&utm_source=Exinfluencer\&utm_content=000026UJ\&utm_term=10006555\&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2021-01-01\&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264\&cm_mmca1=000026UJ\&cm_mmca2=10006555\&cm_mmca3=M12345678\&cvosrc=email.Newsletter.M12345678\&cvo_campaign=000026UJ).

<!--## Change Log

<!--| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- | 
| 2022-01-19        | 0.3     | Lakshmi Holla        | Added changes in the markdown      |
| 2021-06-25        | 0.2     | Malika            | Updated GitHub job json link       |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |--!>